<div class="col-xs-12 col-md-3 markdown">
      <h4 class="text-center">Markdown Cheatsheet</h4>
      <table class="small">
        <thead>
          <tr>
            <th width="50%">Style</th>
            <th width="50%">Markdown Syntax</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Indented code</td>
            <td>Four spaces at the front of each line   <code>    </code></td>
          </tr>
          <tr>
            <td>Fenced code</td>
            <td>Delimit with 3 or more <code>~</code>or backticks</td>
          </tr>
          <tr>
            <td>Autolink</td>
            <td><code>&lt;&gt;</code></td>
          </tr>
          <tr>
            <td>Bold</td>
            <td><code>**</code> or <code>__</code></td>
          </tr>
          <tr>
            <td>Delete</td>
            <td><code>~~</code></td>
          </tr>
          <tr>
            <td>Em Dash</td>
            <td><code>---</code></td>
          </tr>
          <tr>
            <td>En Dash</td>
            <td><code>--</code></td>
          </tr>
          <tr>
            <td>H1</td>
            <td><code>#</code></td>
          </tr>
          <tr>
            <td>H2</td>
            <td><code>##</code></td>
          </tr>
          <tr>
            <td>H3</td>
            <td><code>###</code></td>
          </tr>
          <tr>
            <td>H4</td>
            <td><code>####</code></td>
          </tr>
          <tr>
            <td>H5</td>
            <td><code>#####</code></td>
          </tr>
          <tr>
            <td>H6</td>
            <td><code>######</code></td>
          </tr>
          <tr>
            <td>Italic</td>
            <td><code>*</code></td>
          </tr>
          <tr>
            <td>Link</td>
            <td><code>[]()</code></td>
          </tr>
          <tr>
            <td>List (Bullet)</td>
            <td><code>*</code> or <code>-</code> or <code>+</code></td>
          </tr>
          <tr>
            <td>List (Number)</td>
            <td><code>1, 2, 3, 4...</code></td>
          </tr>
          <tr>
            <td>Marked</td>
            <td><code>==</code></td>
          </tr>
          <tr>
            <td>Superscript</td>
            <td><code>^</code></td>
          </tr>
          <tr>
            <td>Underline</td>
            <td><code>_</code></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="col-xs-12 text-center">
         <a href="https://caleorourke.gitbooks.io/redcarpet-syntax/content/text_effects/index.html" target="_blank">Read more about Markdown</a>
      </div>
     
    </div>