<div class="row">
  <div class="col-xs-12 ">
    <%= link_to 'Back', questions_path, class: 'btn btn-default pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2>Edit Question</h2>
    </div>
    <%= render 'form', action: 'Save changes' %>
  </div>
</div>