<div class="row">
  <div class="col-xs-12 ">
    <%= link_to 'Back', @question, class: 'btn btn-default pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="page-header">
      <h2>Edit Question</h2>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <%= render 'form', action: 'Save Changes' %>
  </div>
  <div class="col-hidden-xs col-md-1"></div>
  
  <%= render 'markdown-help' %>
</div>