<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Back', questions_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="page-header">
      <h2>New Question</h2>
    </div>
    <div class="col-xs-12 col-md-8">
      <%= render 'form', action: "Create Question" %>
    </div>
    <div class="col-hidden-xs col-md-1"></div>
    <%= render 'markdown-help' %>
</div>