<%= form_for ([ @question, Answer.new ]) do |f| %>

<h3>Your Answer</h3>

  <div class="form-group">
    <%= f.text_area :content, class: 'form-control content_area', rows: 10 %>
  </div>
  
  <%= f.submit "Post your answer", class: 'btn btn-default' %>
 
<% end %>