// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-content, .comments-form .form-control {
  font-size:90%;
}

.label-default {
  background-color:#26BEFF;
  border-radius: 2px;
}

.date {
  color:#989898;
  font-size: 75%;
}